In [191]:
import yfinance as yf
import pandas as pd
import pandas_datareader as pdr
import datetime as dt
import matplotlib.pyplot as plt
from alpha_vantage.techindicators import TechIndicators
import matplotlib.pyplot as plt
import pandas_ta as ta
pd.options.mode.chained_assignment = None  # default='warn'

%matplotlib inline

In [192]:
tickers = ['TSLA', 'DISCA', 'PATH']

In [193]:
data = yf.download(tickers,  # or pdr.get_data_yahoo(...
            # tickers list or string as well
            # tickers = "PATH",

            # use "period" instead of start/end
            # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
            # (optional, default is '1mo')
            period = "6mo",

            # fetch data by interval (including intraday if period < 60 days)
            # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
            # (optional, default is '1d')
            interval = "1d",

            # group by ticker (to access via data['SPY'])
            # (optional, default is 'column')
            group_by = 'ticker',

            # adjust all OHLC automatically
            # (optional, default is False)
            auto_adjust = True,

            # download pre/post regular market hours data
            # (optional, default is False)
            prepost = True,

            # use threads for mass downloading? (True/False/Integer)
            # (optional, default is True)
            threads = True,

            # proxy URL scheme use use when downloading?
            # (optional, default is None)
            proxy = None
        )

[*********************100%***********************]  3 of 3 completed

In [194]:
df = data.copy()
df.tail()

                  TSLA                                                \
                  Open        High         Low       Close    Volume
Date
2021-06-14  612.229980  625.489990  609.179993  617.690002  20424000
2021-06-15  616.690002  616.789978  598.229980  599.359985  17764100
2021-06-16  597.539978  608.500000  593.500000  604.869995  22144100
2021-06-17  601.890015  621.469971  601.340027  616.599976  22701400
2021-06-18  613.369995  628.349976  611.799988  623.309998  24528400

                 PATH                                                  DISCA  \
                 Open       High        Low      Close     Volume       Open
Date
2021-06-14  71.980003  72.029999  68.910004  69.800003  3666500.0  30.959999
2021-06-15  69.510002  72.400002  69.370003  70.000000  4126400.0  30.820000
2021-06-16  69.000000  70.000000  67.800003  69.769997  4769900.0  30.020000
2021-06-17  68.500000  70.919998  68.099998  70.000000  3835000.0  30.320000
2021-06-18  69.699997  70.400002  69.080002  69.750000  3173400.0  29.260000


                 High        Low      Close    Volume
Date
2021-06-14  31.480000  30.660000  30.820000   5182600
2021-06-15  31.530001  30.049999  30.070000   6912600
2021-06-16  30.590000  29.540001  30.459999   7134200
2021-06-17  30.490000  29.340000  29.410000   7729000
2021-06-18  29.500000  28.889999  29.080000  10221300

In [205]:
for stock in tickers:
    df[f'RSI_{stock}'] = df[stock].ta.rsi(inplace=True)

In [204]:
df.filter(like='RSI').iloc[-1:].T

date        2021-06-18
RSI_TSLA     52.266302
RSI_DISCA    29.833880
RSI_PATH     43.860019

In [207]:
df['TSLA']['Close']

date
2020-12-21    649.859985
2020-12-22    640.340027
2020-12-23    645.979980
2020-12-24    661.770020
2020-12-28    663.690002
                 ...
2021-06-14    617.690002
2021-06-15    599.359985
2021-06-16    604.869995
2021-06-17    616.599976
2021-06-18    623.309998
Name: Close, Length: 124, dtype: float64

In [197]:
df1 = df.iloc[-1]

In [198]:
df2 = df1.unstack().round(2)

In [201]:
df2

             Open    High     Low   Close      Volume
TSLA       613.37  628.35  611.80  623.31  24528400.0    NaN
PATH        69.70   70.40   69.08   69.75   3173400.0    NaN
DISCA       29.26   29.50   28.89   29.08  10221300.0    NaN
RSI_TSLA      NaN     NaN     NaN     NaN         NaN  52.27
RSI_DISCA     NaN     NaN     NaN     NaN         NaN  29.83
RSI_PATH      NaN     NaN     NaN     NaN         NaN  43.86

In [52]:
tesla['RSI_TSLA'] = tesla.ta.rsi(inplace=True)

c:\users\elena\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
c:\users\elena\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [56]:
tesla[['RSI_TSLA']]

             RSI_TSLA
date
2020-12-21        NaN
2020-12-22        NaN
2020-12-23        NaN
2020-12-24        NaN
2020-12-28        NaN
...               ...
2021-06-14  49.955083
2021-06-15  44.879661
2021-06-16  46.634852
2021-06-17  50.265623
2021-06-18  52.266302

[124 rows x 1 columns]

In [ ]:
# data = [expression for item in list]
data['RSI_TSLA'] = [data.ta.rsi(inplace=True) for ticker in tickers]

In [ ]:
stock_data = data.iloc[-1:].T

In [ ]:
stock_data.index.levels

In [ ]:
stock_data

In [ ]:
stock_data.columns.get_level_values(0)

In [ ]:
stock_data.columns

In [ ]:
data['RSI'] = data.ta.rsi(inplace=True) # Calculate RSI

In [ ]:
data.round().tail()

In [ ]:
df = data.iloc[-1:]

In [ ]:
df

In [ ]:
df_i = pd.DataFrame()
for i in tickers:
    print(i)
    results = df_i.append(df[i])
    results_2 = pd.concat([df[i]], axis=1)

In [ ]:
results

In [ ]:
results_2

In [ ]:
# data['RSI'] = data.ta.rsi(inplace=True) # Calculate RSI
# data['SMA'] = data.ta.sma(inplace=True)
# data[['MACD_12_26_9', 'MACDh_12_26_9', 'MACDs_12_26_9']] = data.ta.macd(inplace=True)

In [ ]:
# def get_data(tickers):
    
#     data = yf.download(tickers,  # or pdr.get_data_yahoo(...
#             # tickers list or string as well
#             # tickers = "PATH",

#             # use "period" instead of start/end
#             # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
#             # (optional, default is '1mo')
#             period = "6mo",

#             # fetch data by interval (including intraday if period < 60 days)
#             # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
#             # (optional, default is '1d')
#             interval = "1d",

#             # group by ticker (to access via data['SPY'])
#             # (optional, default is 'column')
#             group_by = 'ticker',

#             # adjust all OHLC automatically
#             # (optional, default is False)
#             auto_adjust = True,

#             # download pre/post regular market hours data
#             # (optional, default is False)
#             prepost = True,

#             # use threads for mass downloading? (True/False/Integer)
#             # (optional, default is True)
#             threads = True,

#             # proxy URL scheme use use when downloading?
#             # (optional, default is None)
#             proxy = None
#         )
#     # data['Close'].plot(figsize=(16,8));
#     data['RSI'] = data.ta.rsi(inplace=True) # Calculate RSI
#     data['SMA'] = data.ta.sma(inplace=True)
#     data[['MACD_12_26_9', 'MACDh_12_26_9', 'MACDs_12_26_9']] = data.ta.macd(inplace=True)
    
#     return data

In [ ]:
data = get_data(stock_symobl).round(2)
data

In [ ]:

def color_negative_red(val):
    color = 'red' if val < 30 else 'green'
    return 'color: %s' % color

In [ ]:
s = data.style.applymap(color_negative_red, subset=['RSI'])

In [ ]:
import schedule
import time

def job():
    data = get_data(stock_symobl)
    # data['Close'].plot(figsize=(16,8));

# schedule.every(1).seconds.do(job)
schedule.every(1).seconds.do(job)
# schedule.every().hour.do(job)
# schedule.every().day.at("10:30").do(job)
# schedule.every(5).to(10).minutes.do(job)
# schedule.every().monday.do(job)
# schedule.every().wednesday.at("13:15").do(job)
# schedule.every().minute.at(":17").do(job)

while True:
    schedule.run_pending()
    time.sleep(1)

In [ ]:
# API = '9R2V38OOYMP02MHZ'
# ti = TechIndicators(key=API, output_format='pandas')
# data = ti.get_rsi(symbol=stock_symobl,
#                   interval='daily',
#                   time_period=14,
#                   series_type='close')

# data

In [ ]:
# # Skip first 14 days to have real values

# hist = hist.iloc[14:]

# print(hist)
# fig, (ax1, ax2) = plt.subplots(2)
# ax1.get_xaxis().set_visible(False)
# fig.suptitle(f'{stock_symobl}')

# hist['Close'].plot(ax=ax1)
# ax1.set_ylabel('Price ($)')
# hist['RSI'].plot(ax=ax2)
# ax2.set_ylim(0,100)
# ax2.axhline(30, color='r', linestyle='--')
# ax2.axhline(70, color='r', linestyle='--')
# ax2.set_ylabel('RSI')

# plt.show()

In [ ]:
# ti = TechIndicators(key='9R2V38OOYMP02MHZ', output_format='pandas')

In [ ]:
# data, meta_data = ti.get_rsi(symbol=stock_symobl,
#                              interval='daily',
#                              time_period=14,
#                              series_type='close')
# data.plot()
# plt.title(f'RSI indicator for {stock_symobl} stock')
# plt.show()