In [73]:
import yfinance as yf
import pandas as pd
import pandas_datareader as pdr
import datetime as dt
import matplotlib.pyplot as plt
from alpha_vantage.techindicators import TechIndicators
import matplotlib.pyplot as plt
import pandas_ta as ta

In [74]:
stock_symobl = "AMC"

In [75]:
stock = yf.Ticker(stock_symobl)

In [115]:
# get historical market data
hist = stock.history(period="6mo")

In [116]:
hist['RSI'] = hist.ta.rsi()

In [117]:
hist

,open,high,low,close,volume,Dividends,Stock Splits,RSI
date,,,,,,,,
2020-12-02,4.080000,4.340000,3.950000,4.320000,11847600,0,0,NaN
2020-12-03,4.010000,4.220000,3.500000,3.630000,66080900,0,0,NaN
2020-12-04,3.750000,3.760000,3.300000,3.510000,33157300,0,0,NaN
2020-12-07,3.450000,3.740000,3.330000,3.560000,20503900,0,0,NaN
2020-12-08,3.610000,4.020000,3.610000,3.980000,29530600,0,0,NaN
...,...,...,...,...,...,...,...,...
2021-05-25,13.610000,16.670000,13.550000,16.410000,208965200,0,0,73.100382
2021-05-26,17.760000,19.950001,17.260000,19.559999,379064100,0,0,79.428072
2021-05-27,18.610001,29.760000,18.309999,26.520000,700486600,0,0,86.810627
2021-05-28,31.809999,36.720001,24.170000,26.120001,660623600,0,0,84.924378
2021-06-01,31.889999,33.529999,28.530001,32.040001,483603000,0,0,88.802318

In [118]:
hist[['MACD_12_26_9', 'MACDh_12_26_9', 'MACDs_12_26_9']] = hist.ta.macd(inplace=True)

In [119]:
hist

,open,high,low,close,volume,Dividends,Stock Splits,RSI,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9
date,,,,,,,,,,,
2020-12-02,4.080000,4.340000,3.950000,4.320000,11847600,0,0,NaN,NaN,NaN,NaN
2020-12-03,4.010000,4.220000,3.500000,3.630000,66080900,0,0,NaN,NaN,NaN,NaN
2020-12-04,3.750000,3.760000,3.300000,3.510000,33157300,0,0,NaN,NaN,NaN,NaN
2020-12-07,3.450000,3.740000,3.330000,3.560000,20503900,0,0,NaN,NaN,NaN,NaN
2020-12-08,3.610000,4.020000,3.610000,3.980000,29530600,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2021-05-25,13.610000,16.670000,13.550000,16.410000,208965200,0,0,73.100382,1.127270,0.408363,0.718907
2021-05-26,17.760000,19.950001,17.260000,19.559999,379064100,0,0,79.428072,1.578407,0.687600,0.890807
2021-05-27,18.610001,29.760000,18.309999,26.520000,700486600,0,0,86.810627,2.469089,1.262625,1.206464
2021-05-28,31.809999,36.720001,24.170000,26.120001,660623600,0,0,84.924378,3.106869,1.520325,1.586545
2021-06-01,31.889999,33.529999,28.530001,32.040001,483603000,0,0,88.802318,4.043400,1.965484,2.077916

In [34]:
# API = '9R2V38OOYMP02MHZ'
# ti = TechIndicators(key=API, output_format='pandas')
# data = ti.get_rsi(symbol=stock_symobl,
#                   interval='daily',
#                   time_period=14,
#                   series_type='close')

# data

In [121]:
# Get all candle patterns (This is the default behaviour)
hist.ta.indicators()

Pandas TA - Technical Analysis Indicators - v0.2.45b0
Total Indicators: 133
Abbreviations:
    aberration, above, above_value, accbands, ad, adosc, adx, alma, amat, ao, aobv, apo, aroon, atr, bbands, below, below_value, bias, bop, brar, cci, cdl_doji, cdl_inside, cfo, cg, chop, cksp, cmf, cmo, coppock, cross, cross_value, decay, decreasing, dema, donchian, dpo, ebsw, efi, ema, entropy, eom, er, eri, fisher, fwma, ha, hilo, hl2, hlc3, hma, hwc, hwma, ichimoku, increasing, inertia, kama, kc, kdj, kst, kurtosis, linreg, log_return, long_run, macd, mad, massi, mcgd, median, mfi, midpoint, midprice, mom, natr, nvi, obv, ohlc4, pdist, percent_return, pgo, ppo, psar, psl, pvi, pvo, pvol, pvr, pvt, pwma, qqe, qstick, quantile, rma, roc, rsi, rsx, rvgi, rvi, short_run, sinwma, skew, slope, sma, smi, squeeze, ssf, stdev, stoch, stochrsi, supertrend, swma, t3, tema, thermo, trend_return, trima, trix, true_range, tsi, ttm_trend, ui, uo, variance, vidya, vortex, vp, vwap, vwma, wcp, willr, wma, zlma, zscore

In [45]:
# # Skip first 14 days to have real values

# hist = hist.iloc[14:]

# print(hist)
# fig, (ax1, ax2) = plt.subplots(2)
# ax1.get_xaxis().set_visible(False)
# fig.suptitle(f'{stock_symobl}')

# hist['Close'].plot(ax=ax1)
# ax1.set_ylabel('Price ($)')
# hist['RSI'].plot(ax=ax2)
# ax2.set_ylim(0,100)
# ax2.axhline(30, color='r', linestyle='--')
# ax2.axhline(70, color='r', linestyle='--')
# ax2.set_ylabel('RSI')

# plt.show()

In [46]:
# ti = TechIndicators(key='9R2V38OOYMP02MHZ', output_format='pandas')

In [47]:
# data, meta_data = ti.get_rsi(symbol=stock_symobl,
#                              interval='daily',
#                              time_period=14,
#                              series_type='close')
# data.plot()
# plt.title(f'RSI indicator for {stock_symobl} stock')
# plt.show()

In [104]:
def get_data(tickers):
    
    data = yf.download(tickers,  # or pdr.get_data_yahoo(...
            # tickers list or string as well
            # tickers = "PATH",

            # use "period" instead of start/end
            # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
            # (optional, default is '1mo')
            period = "6mo",

            # fetch data by interval (including intraday if period < 60 days)
            # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
            # (optional, default is '1d')
            interval = "1d",

            # group by ticker (to access via data['SPY'])
            # (optional, default is 'column')
            group_by = 'ticker',

            # adjust all OHLC automatically
            # (optional, default is False)
            auto_adjust = True,

            # download pre/post regular market hours data
            # (optional, default is False)
            prepost = True,

            # use threads for mass downloading? (True/False/Integer)
            # (optional, default is True)
            threads = True,

            # proxy URL scheme use use when downloading?
            # (optional, default is None)
            proxy = None
        )
    # data['Close'].plot(figsize=(16,8));
    return data

In [105]:
data = get_data(stock_symobl)
data

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close     Volume
Date
2020-12-02   4.080000   4.340000   3.950000   4.320000   11847600
2020-12-03   4.010000   4.220000   3.500000   3.630000   66080900
2020-12-04   3.750000   3.760000   3.300000   3.510000   33157300
2020-12-07   3.450000   3.740000   3.330000   3.560000   20503900
2020-12-08   3.610000   4.020000   3.610000   3.980000   29530600
...               ...        ...        ...        ...        ...
2021-05-25  13.610000  16.670000  13.550000  16.410000  208965200
2021-05-26  17.760000  19.950001  17.260000  19.559999  379064100
2021-05-27  18.610001  29.760000  18.309999  26.520000  700486600
2021-05-28  31.809999  36.720001  24.170000  26.120001  660623600
2021-06-01  31.889999  33.529999  28.530001  32.040001  483603000

[124 rows x 5 columns]

In [106]:
import schedule
import time

def job():
    data = get_data(stock_symobl)
    # data['Close'].plot(figsize=(16,8));

# schedule.every(1).seconds.do(job)
schedule.every(1).seconds.do(job)
# schedule.every().hour.do(job)
# schedule.every().day.at("10:30").do(job)
# schedule.every(5).to(10).minutes.do(job)
# schedule.every().monday.do(job)
# schedule.every().wednesday.at("13:15").do(job)
# schedule.every().minute.at(":17").do(job)

while True:
    schedule.run_pending()
    time.sleep(1)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

KeyboardInterrupt: