In [13]:
import yfinance as yf
import pandas as pd
import pandas_datareader as pdr
import datetime as dt
import matplotlib.pyplot as plt
from alpha_vantage.techindicators import TechIndicators
import matplotlib.pyplot as plt
import pandas_ta as ta
pd.options.mode.chained_assignment = None  # default='warn'

%matplotlib inline

In [14]:
tickers = ['TSLA', 'DISCA', 'AMC', 'PATH']

In [15]:
data = yf.download(tickers,  # or pdr.get_data_yahoo(...
            # tickers list or string as well
            # tickers = "PATH",

            # use "period" instead of start/end
            # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
            # (optional, default is '1mo')
            period = "6mo",

            # fetch data by interval (including intraday if period < 60 days)
            # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
            # (optional, default is '1d')
            interval = "1d",

            # group by ticker (to access via data['SPY'])
            # (optional, default is 'column')
            group_by = 'ticker',

            # adjust all OHLC automatically
            # (optional, default is False)
            auto_adjust = True,

            # download pre/post regular market hours data
            # (optional, default is False)
            prepost = True,

            # use threads for mass downloading? (True/False/Integer)
            # (optional, default is True)
            threads = True,

            # proxy URL scheme use use when downloading?
            # (optional, default is None)
            proxy = None
        )

[*********************100%***********************]  4 of 4 completed

In [16]:
df = data.copy()
df.tail()

                  TSLA                                                \
                  Open        High         Low       Close    Volume
Date
2021-06-14  612.229980  625.489990  609.179993  617.690002  20424000
2021-06-15  616.690002  616.789978  598.229980  599.359985  17764100
2021-06-16  597.539978  608.500000  593.500000  604.869995  22144100
2021-06-17  601.890015  621.469971  601.340027  616.599976  22701400
2021-06-18  613.369995  628.349976  611.799988  623.309998  24528400

                DISCA                                                   AMC  \
                 Open       High        Low      Close    Volume       Open
Date
2021-06-14  30.959999  31.480000  30.660000  30.820000   5182600  51.830002
2021-06-15  30.820000  31.530001  30.049999  30.070000   6912600  58.389999
2021-06-16  30.020000  30.590000  29.540001  30.459999   7134200  56.139999
2021-06-17  30.320000  30.490000  29.340000  29.410000   7729000  54.000000
2021-06-18  29.260000  29.500000  28.889999  29.080000  10221300  61.259998

                                                             PATH             \
                 High        Low      Close     Volume       Open       High
Date
2021-06-14  60.549999  51.520000  57.000000  301467300  71.980003  72.029999
2021-06-15  64.709999  56.730000  59.040001  285582100  69.510002  72.400002
2021-06-16  57.340000  51.860001  55.180000  166450700  69.000000  70.000000
2021-06-17  63.830002  52.980000  60.730000  303576000  68.500000  70.919998
2021-06-18  64.959999  56.849998  59.259998  242896900  69.699997  70.400002


                  Low      Close     Volume
Date
2021-06-14  68.910004  69.800003  3666500.0
2021-06-15  69.370003  70.000000  4126400.0
2021-06-16  67.800003  69.769997  4769900.0
2021-06-17  68.099998  70.000000  3835000.0
2021-06-18  69.080002  69.750000  3173400.0

In [17]:
for stock in tickers:
    df[f'RSI_{stock}'] = df[stock].ta.rsi(inplace=True).round(2)
    df[f'Close_{stock}'] = df[stock]['Close']

In [18]:
df.round(2)

              TSLA                                    DISCA                \
              Open    High     Low   Close    Volume   Open   High    Low
date
2020-12-21  666.24  668.50  646.07  649.86  58045300  27.36  27.60  26.87
2020-12-22  648.00  649.88  614.23  640.34  51716000  27.56  27.62  26.92
2020-12-23  632.20  651.50  622.57  645.98  33173000  27.40  28.46  27.32
2020-12-24  642.99  666.09  641.00  661.77  22865600  28.29  28.73  27.97
2020-12-28  674.51  681.40  660.80  663.69  32278600  28.71  29.47  28.31
...            ...     ...     ...     ...       ...    ...    ...    ...
2021-06-14  612.23  625.49  609.18  617.69  20424000  30.96  31.48  30.66
2021-06-15  616.69  616.79  598.23  599.36  17764100  30.82  31.53  30.05
2021-06-16  597.54  608.50  593.50  604.87  22144100  30.02  30.59  29.54
2021-06-17  601.89  621.47  601.34  616.60  22701400  30.32  30.49  29.34
2021-06-18  613.37  628.35  611.80  623.31  24528400  29.26  29.50  28.89

                             ...   PATH            RSI_TSLA Close_TSLA  \
            Close    Volume  ...  Close     Volume
date                         ...
2020-12-21  27.37   9440200  ...    NaN        NaN      NaN     649.86
2020-12-22  27.21   5403400  ...    NaN        NaN      NaN     640.34
2020-12-23  28.26   5542200  ...    NaN        NaN      NaN     645.98
2020-12-24  28.57   3471600  ...    NaN        NaN      NaN     661.77
2020-12-28  29.45   5020500  ...    NaN        NaN      NaN     663.69
...           ...       ...  ...    ...        ...      ...        ...
2021-06-14  30.82   5182600  ...  69.80  3666500.0    49.96     617.69
2021-06-15  30.07   6912600  ...  70.00  4126400.0    44.88     599.36
2021-06-16  30.46   7134200  ...  69.77  4769900.0    46.63     604.87
2021-06-17  29.41   7729000  ...  70.00  3835000.0    50.27     616.60
2021-06-18  29.08  10221300  ...  69.75  3173400.0    52.27     623.31

           RSI_DISCA Close_DISCA RSI_AMC Close_AMC RSI_PATH Close_PATH

date
2020-12-21       NaN       27.37     NaN      2.68      NaN        NaN
2020-12-22       NaN       27.21     NaN      2.59      NaN        NaN
2020-12-23       NaN       28.26     NaN      2.56      NaN        NaN
2020-12-24       NaN       28.57     NaN      2.51      NaN        NaN
2020-12-28       NaN       29.45     NaN      2.39      NaN        NaN
...              ...         ...     ...       ...      ...        ...
2021-06-14     35.11       30.82   69.28     57.00    43.82      69.80
2021-06-15     32.06       30.07   70.27     59.04    44.11      70.00
2021-06-16     35.21       30.46   65.96     55.18    43.83      69.77
2021-06-17     31.03       29.41   68.91     60.73    44.21      70.00
2021-06-18     29.83       29.08   67.25     59.26    43.86      69.75

[124 rows x 28 columns]

In [19]:
df_close = df.filter(like='Close_').iloc[-1:].T
df_close

date          2021-06-18
Close_TSLA    623.309998
Close_DISCA    29.080000
Close_AMC      59.259998
Close_PATH     69.750000

In [20]:
df_close.reset_index(inplace=True)
df_close

date      level_0 level_1  2021-06-18 00:00:00
0      Close_TSLA                   623.309998
1     Close_DISCA                    29.080000
2       Close_AMC                    59.259998
3      Close_PATH                    69.750000

In [21]:
df_close.set_index([tickers], inplace=True)
df_close

date       level_0 level_1  2021-06-18 00:00:00
TSLA    Close_TSLA                   623.309998
DISCA  Close_DISCA                    29.080000
AMC      Close_AMC                    59.259998
PATH    Close_PATH                    69.750000

In [22]:
df_close.drop(columns=['level_0', 'level_1'], inplace=True)

In [23]:
# df_close.reset_index(inplace=True)
# df_close

In [24]:
df_close

date   2021-06-18 00:00:00
TSLA            623.309998
DISCA            29.080000
AMC              59.259998
PATH             69.750000

In [77]:
df_close.columns.values[0] = "Stock symbol"
df_close.columns.values[1] = "RSI"

IndexError: index 1 is out of bounds for axis 0 with size 1

In [75]:
#cols = df_close.columns.to_list()

In [76]:
df_close

date   2021-06-18 00:00:00
TSLA            623.309998
DISCA            29.080000
AMC              59.259998
PATH             69.750000

In [50]:
df_close.set_index(cols[0], inplace=True)

KeyError: "None of ['Stock symbol'] are in the columns"

In [25]:
df_close.index.rename(name = 'Stock symbol', inplace=True)
df_close

date          2021-06-18 00:00:00
Stock symbol
TSLA                   623.309998
DISCA                   29.080000
AMC                     59.259998
PATH                    69.750000

In [31]:
df_close

date          2021-06-18 00:00:00
Stock symbol
TSLA                   623.309998
DISCA                   29.080000
AMC                     59.259998
PATH                    69.750000

date              level_0 level_1  2021-06-18 00:00:00
Stock symbol
TSLA           Close_TSLA                   623.309998
DISCA         Close_DISCA                    29.080000
AMC             Close_AMC                    59.259998

In [110]:
df_close

date       level_0 level_1  2021-06-18 00:00:00
TSLA    Close_TSLA                   623.309998
DISCA  Close_DISCA                    29.080000
AMC      Close_AMC                    59.259998

In [68]:
df_rsi = df.filter(like='RSI').iloc[-1:].T
df_rsi

date        2021-06-18
RSI_TSLA         52.27
RSI_DISCA        29.83
RSI_AMC          67.25

In [75]:
df_concat = pd.concat([df_close, df_rsi], ignore_index=False)
df_concat

date          2021-06-18
Close_TSLA    623.309998
Close_DISCA    29.080000
Close_AMC      59.259998
RSI_TSLA       52.270000
RSI_DISCA      29.830000
RSI_AMC        67.250000

In [51]:
df_2.columns

DatetimeIndex(['2021-06-18'], dtype='datetime64[ns]', name='date', freq=None)

In [32]:
dff = df.filter(like='RSI').iloc[-1:].T

In [33]:
len(dff.index)

0

In [226]:
# # Skip first 14 days to have real values

# hist = hist.iloc[14:]

# print(hist)
# fig, (ax1, ax2) = plt.subplots(2)
# ax1.get_xaxis().set_visible(False)
# fig.suptitle(f'{stock_symobl}')

# hist['Close'].plot(ax=ax1)
# ax1.set_ylabel('Price ($)')
# hist['RSI'].plot(ax=ax2)
# ax2.set_ylim(0,100)
# ax2.axhline(30, color='r', linestyle='--')
# ax2.axhline(70, color='r', linestyle='--')
# ax2.set_ylabel('RSI')

# plt.show()

In [227]:
# ti = TechIndicators(key='9R2V38OOYMP02MHZ', output_format='pandas')

In [228]:
# data, meta_data = ti.get_rsi(symbol=stock_symobl,
#                              interval='daily',
#                              time_period=14,
#                              series_type='close')
# data.plot()
# plt.title(f'RSI indicator for {stock_symobl} stock')
# plt.show()

In [218]:
dff

Empty DataFrame
Columns: [2021-06-18 00:00:00]
Index: []

In [217]:
len(dff)

0

In [207]:
df['TSLA']['Close']

date
2020-12-21    649.859985
2020-12-22    640.340027
2020-12-23    645.979980
2020-12-24    661.770020
2020-12-28    663.690002
                 ...
2021-06-14    617.690002
2021-06-15    599.359985
2021-06-16    604.869995
2021-06-17    616.599976
2021-06-18    623.309998
Name: Close, Length: 124, dtype: float64

In [197]:
df1 = df.iloc[-1]

In [198]:
df2 = df1.unstack().round(2)

In [201]:
df2

             Open    High     Low   Close      Volume
TSLA       613.37  628.35  611.80  623.31  24528400.0    NaN
PATH        69.70   70.40   69.08   69.75   3173400.0    NaN
DISCA       29.26   29.50   28.89   29.08  10221300.0    NaN
RSI_TSLA      NaN     NaN     NaN     NaN         NaN  52.27
RSI_DISCA     NaN     NaN     NaN     NaN         NaN  29.83
RSI_PATH      NaN     NaN     NaN     NaN         NaN  43.86

In [52]:
tesla['RSI_TSLA'] = tesla.ta.rsi(inplace=True)

c:\users\elena\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
c:\users\elena\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [56]:
tesla[['RSI_TSLA']]

             RSI_TSLA
date
2020-12-21        NaN
2020-12-22        NaN
2020-12-23        NaN
2020-12-24        NaN
2020-12-28        NaN
...               ...
2021-06-14  49.955083
2021-06-15  44.879661
2021-06-16  46.634852
2021-06-17  50.265623
2021-06-18  52.266302

[124 rows x 1 columns]

In [ ]:
# data = [expression for item in list]
data['RSI_TSLA'] = [data.ta.rsi(inplace=True) for ticker in tickers]

In [ ]:
stock_data = data.iloc[-1:].T

In [ ]:
stock_data.index.levels

In [ ]:
stock_data

In [ ]:
stock_data.columns.get_level_values(0)

In [ ]:
stock_data.columns

In [ ]:
data['RSI'] = data.ta.rsi(inplace=True) # Calculate RSI

In [ ]:
data.round().tail()

In [ ]:
df = data.iloc[-1:]

In [ ]:
df

In [ ]:
df_i = pd.DataFrame()
for i in tickers:
    print(i)
    results = df_i.append(df[i])
    results_2 = pd.concat([df[i]], axis=1)

In [ ]:
results

In [ ]:
results_2

In [ ]:
# data['RSI'] = data.ta.rsi(inplace=True) # Calculate RSI
# data['SMA'] = data.ta.sma(inplace=True)
# data[['MACD_12_26_9', 'MACDh_12_26_9', 'MACDs_12_26_9']] = data.ta.macd(inplace=True)

In [ ]:
# def get_data(tickers):
    
#     data = yf.download(tickers,  # or pdr.get_data_yahoo(...
#             # tickers list or string as well
#             # tickers = "PATH",

#             # use "period" instead of start/end
#             # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
#             # (optional, default is '1mo')
#             period = "6mo",

#             # fetch data by interval (including intraday if period < 60 days)
#             # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
#             # (optional, default is '1d')
#             interval = "1d",

#             # group by ticker (to access via data['SPY'])
#             # (optional, default is 'column')
#             group_by = 'ticker',

#             # adjust all OHLC automatically
#             # (optional, default is False)
#             auto_adjust = True,

#             # download pre/post regular market hours data
#             # (optional, default is False)
#             prepost = True,

#             # use threads for mass downloading? (True/False/Integer)
#             # (optional, default is True)
#             threads = True,

#             # proxy URL scheme use use when downloading?
#             # (optional, default is None)
#             proxy = None
#         )
#     # data['Close'].plot(figsize=(16,8));
#     data['RSI'] = data.ta.rsi(inplace=True) # Calculate RSI
#     data['SMA'] = data.ta.sma(inplace=True)
#     data[['MACD_12_26_9', 'MACDh_12_26_9', 'MACDs_12_26_9']] = data.ta.macd(inplace=True)
    
#     return data

In [ ]:
data = get_data(stock_symobl).round(2)
data

In [ ]:

def color_negative_red(val):
    color = 'red' if val < 30 else 'green'
    return 'color: %s' % color

In [ ]:
s = data.style.applymap(color_negative_red, subset=['RSI'])

In [ ]:
import schedule
import time

def job():
    data = get_data(stock_symobl)
    # data['Close'].plot(figsize=(16,8));

# schedule.every(1).seconds.do(job)
schedule.every(1).seconds.do(job)
# schedule.every().hour.do(job)
# schedule.every().day.at("10:30").do(job)
# schedule.every(5).to(10).minutes.do(job)
# schedule.every().monday.do(job)
# schedule.every().wednesday.at("13:15").do(job)
# schedule.every().minute.at(":17").do(job)

while True:
    schedule.run_pending()
    time.sleep(1)

In [ ]:
# API = '9R2V38OOYMP02MHZ'
# ti = TechIndicators(key=API, output_format='pandas')
# data = ti.get_rsi(symbol=stock_symobl,
#                   interval='daily',
#                   time_period=14,
#                   series_type='close')

# data

In [ ]:
# # Skip first 14 days to have real values

# hist = hist.iloc[14:]

# print(hist)
# fig, (ax1, ax2) = plt.subplots(2)
# ax1.get_xaxis().set_visible(False)
# fig.suptitle(f'{stock_symobl}')

# hist['Close'].plot(ax=ax1)
# ax1.set_ylabel('Price ($)')
# hist['RSI'].plot(ax=ax2)
# ax2.set_ylim(0,100)
# ax2.axhline(30, color='r', linestyle='--')
# ax2.axhline(70, color='r', linestyle='--')
# ax2.set_ylabel('RSI')

# plt.show()

In [ ]:
# ti = TechIndicators(key='9R2V38OOYMP02MHZ', output_format='pandas')

In [ ]:
# data, meta_data = ti.get_rsi(symbol=stock_symobl,
#                              interval='daily',
#                              time_period=14,
#                              series_type='close')
# data.plot()
# plt.title(f'RSI indicator for {stock_symobl} stock')
# plt.show()