In [1]:
import yfinance as yf
import pandas as pd
import pandas_datareader as pdr
import datetime as dt
import matplotlib.pyplot as plt
from alpha_vantage.techindicators import TechIndicators
import matplotlib.pyplot as plt
import pandas_ta as ta

In [5]:
stock_symobl = "AMC"
stock = yf.Ticker(stock_symobl)

In [6]:
# get historical market data
hist = stock.history(period="1y")

In [7]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-05-29,5.000000,5.380000,4.830000,5.130000,5153000,0,0
2020-06-01,5.030000,5.370000,5.020000,5.310000,3913100,0,0
2020-06-02,5.350000,5.650000,5.330000,5.590000,6877800,0,0
2020-06-03,5.270000,5.990000,5.090000,5.450000,15353700,0,0
2020-06-04,5.170000,5.400000,5.000000,5.380000,8572600,0,0
...,...,...,...,...,...,...,...
2021-05-24,12.380000,13.960000,12.170000,13.680000,113319200,0,0
2021-05-25,13.610000,16.670000,13.550000,16.410000,213644100,0,0
2021-05-26,17.760000,19.950001,17.260000,19.559999,379064100,0,0
2021-05-27,18.610001,29.760000,18.309999,26.520000,705545700,0,0
2021-05-28,31.809999,36.720001,24.170000,26.120001,659070200,0,0

In [9]:
data = yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "SPY AAPL MSFT",
        period = "1d",
        interval = "1m",
        group_by = 'ticker',
        auto_adjust = True,
        prepost = True,
        threads = True,
        proxy = None
    )

[*********************100%***********************]  3 of 3 completed

In [10]:
data

                             MSFT                                    SPY  \
                             Open    High     Low   Close Volume    Open
Datetime
2021-05-28 04:00:00-04:00  249.82  249.82  249.74  249.74    0.0  420.87
2021-05-28 04:01:00-04:00  250.00  250.00  250.00  250.00    0.0  420.90
2021-05-28 04:02:00-04:00  250.40  250.40  250.40  250.40    0.0  420.92
2021-05-28 04:03:00-04:00  250.40  250.50  250.40  250.50    0.0  420.93
2021-05-28 04:04:00-04:00  250.40  250.40  250.40  250.40    0.0  420.97
...                           ...     ...     ...     ...    ...     ...
2021-05-28 19:55:00-04:00  249.95  249.95  249.95  249.95    0.0     NaN
2021-05-28 19:56:00-04:00  249.86  249.86  249.85  249.85    0.0     NaN
2021-05-28 19:57:00-04:00  249.95  249.95  249.95  249.95    0.0  419.98
2021-05-28 19:58:00-04:00     NaN     NaN     NaN     NaN    NaN  420.02
2021-05-28 19:59:00-04:00  249.85  249.95  249.83  249.83    0.0  420.00

                                                            AAPL          \
                             High     Low   Close Volume    Open    High
Datetime
2021-05-28 04:00:00-04:00  420.87  420.83  420.87    0.0  126.04  126.10
2021-05-28 04:01:00-04:00  420.90  420.87  420.87    0.0  126.00  126.00
2021-05-28 04:02:00-04:00  420.97  420.92  420.97    0.0  126.00  126.18
2021-05-28 04:03:00-04:00  420.95  420.93  420.95    0.0  126.00  126.18
2021-05-28 04:04:00-04:00  420.97  420.97  420.97    0.0  126.00  126.05
...                           ...     ...     ...    ...     ...     ...
2021-05-28 19:55:00-04:00     NaN     NaN     NaN    NaN  124.64  124.64
2021-05-28 19:56:00-04:00     NaN     NaN     NaN    NaN  124.63  124.64
2021-05-28 19:57:00-04:00  420.02  419.97  419.97    0.0  124.64  124.64
2021-05-28 19:58:00-04:00  420.02  419.97  420.00    0.0  124.65  124.65
2021-05-28 19:59:00-04:00  420.05  419.96  420.04    0.0  124.65  124.67


                              Low   Close Volume
Datetime
2021-05-28 04:00:00-04:00  126.00  126.00    0.0
2021-05-28 04:01:00-04:00  126.00  126.00    0.0
2021-05-28 04:02:00-04:00  125.95  126.00    0.0
2021-05-28 04:03:00-04:00  125.98  126.00    0.0
2021-05-28 04:04:00-04:00  126.00  126.00    0.0
...                           ...     ...    ...
2021-05-28 19:55:00-04:00  124.62  124.63    0.0
2021-05-28 19:56:00-04:00  124.61  124.64    0.0
2021-05-28 19:57:00-04:00  124.63  124.64    0.0
2021-05-28 19:58:00-04:00  124.64  124.65    0.0
2021-05-28 19:59:00-04:00  124.61  124.61    0.0

[945 rows x 15 columns]