In [6]:
import yfinance as yf
import pandas as pd
import pandas_datareader as pdr
import datetime as dt
import matplotlib.pyplot as plt
from alpha_vantage.techindicators import TechIndicators
import matplotlib.pyplot as plt
import pandas_ta as ta
import streamlit as st
import schedule
import time

In [18]:
# Market title web page:
# @st.cache(allow_output_mutation=True)
def stock_list():
    stock_list = list(pd.read_excel('stocks_list.xlsx', sheet_name='stocks_list')['Symbol'])[300:301] 
    return stock_list

In [19]:
symbols = stock_list()
symbols

['EVR']

In [20]:
data = yf.download(
        tickers = symbols,
        period = "1d",
        interval = "1m",
        group_by = 'ticker',
        auto_adjust = True,
        prepost = True,
        threads = True,
        proxy = None
    )
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Volume
Datetime,,,,,
2021-05-28 09:30:00-04:00,147.639999,147.639999,147.639999,147.639999,0
2021-05-28 09:31:00-04:00,147.250000,147.250000,147.250000,147.250000,238
2021-05-28 09:32:00-04:00,147.024994,147.024994,147.024994,147.024994,294
2021-05-28 09:33:00-04:00,146.259995,146.259995,146.100006,146.100006,1174
2021-05-28 09:34:00-04:00,146.419998,146.419998,146.419998,146.419998,100
...,...,...,...,...,...
2021-05-28 16:01:00-04:00,145.860000,145.860000,145.860000,145.860000,0
2021-05-28 16:04:00-04:00,145.860000,145.861000,145.860000,145.861000,0
2021-05-28 16:50:00-04:00,145.520000,145.520000,145.520000,145.520000,0
2021-05-28 17:38:00-04:00,145.520000,145.520000,145.520000,145.520000,0
2021-05-28 18:23:00-04:00,145.650000,145.650000,145.650000,145.650000,0